
<ion-content class="body">
  <ion-text>
    <h1>TeLlevoAPP</h1>
  </ion-text>
  <form class="op-form">
    <ion-row>
      <ion-col size="10" class="op-input">
        <ion-item color="transparent" lines="none">
          <ion-label class="op-input-label "><ion-icon name="person"></ion-icon></ion-label><ion-input class="op-input-field" type="text" required placeholder="Ingresa tu usuario"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="10" class="op-input">
        <ion-item color="transparent" lines="none">
          <ion-label class="op-input-label"><ion-icon name="lock-closed"></ion-icon></ion-label><ion-input class="op-input-field" type="password" required placeholder="Ingresa tu contraseña"></ion-input>
        </ion-item>
      </ion-col>   
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <div class="ion-text-center"><a [routerLink]="['/restablecer-c']" class="small-text a-password ion-text-center" > Olvide mi <span>contraseña</span></a></div>
      </ion-col>
      <ion-col size="5">
        <ion-button class="btn-cancelar" fill="clear"  expand="block" >Cancelar</ion-button>
      </ion-col>
      <ion-col size="5">
        <ion-button class="btn-primario" type="submit"  expand="block" [routerLink]="['/home']" >Ingresar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
