$bg-dark: #102754;
$bg-violet: #453cc9;
$bg-blue: #22aff1;
$bg-white: #fff;



.a-password{
    text-decoration: none;
    color:#fff;
    text-align: center;
    span{
        color:#22aff1;
    }
    
}


.c-cancelar{
       
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;        
    
}