<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating"> <ion-icon name="person"></ion-icon> Correo 
      </ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating"> <ion-icon name="keypad"></ion-icon> Contraseña</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <div class="ion-text-center"><a [routerLink]="['/restablecer-c']" class="small-text a-password ion-text-center" > Olvide mi <span>contraseña</span></a></div>
        <ion-button class="btn-primario" color="tertiary" type="submit"  expand="block" [routerLink]="['/inicio']" ><ion-icon name="send"></ion-icon> Ingresar</ion-button>
        <ion-button class="btn-secundario c-cancelar"  type="clear"  expand="block"  > Cancelar</ion-button>

        
        
      </ion-col>
    </ion-row>
  </form>
</ion-content>
