<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

 

  </div>
  <ion-input    type="submit" [routerLink]="['/login']">
    Recuperar
  </ion-input>

  <div class= "restablecerC"><ion-img src="https://cdn.discordapp.com/attachments/693611787425415290/892432057760874556/Captura_de_pantalla_2021-09-28_122538.png"></ion-img>
  </div>
</ion-content>
