.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.boton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

  .restablecerC {
      


    margin: 10px;
   
  }