<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button class= "btn btn-primaty" [routerLink]="['/home']">
      Recuperar
    </ion-button>
 

  </div>

</ion-content>
<ion-content>
  <div class= "restablecerC"><ion-img src="https://i.pinimg.com/originals/25/b1/6a/25b16adf8804438fd8f6660f71a39964.jpg"></ion-img>
  </div>
</ion-content>
