@font-face {   
    font-family: 'Quicksand';
    src: url('../../assets/fonts/Quicksand-Medium.ttf');
  }
  @font-face {   
    font-family: 'Quicksand-B';
    src: url('../../assets/fonts/Quicksand-Bold.ttf');
  }
  
  $bg-dark: #102754;
  $bg-violet: #453cc9;
  $bg-blue: #22aff1;
  $bg-white: #fff;
  
  h1{
    color:$bg-dark;
    font-size: 22px;
    font-family: Quicksand-b;
    text-align: center;
    margin-bottom: 20px;
    display: block;
}
h2{
    color:$bg-violet;
    font-size: 25px;
    font-family: Quicksand-b;
    text-align: center;
    display: block;
    margin-bottom: -10px;
}

ion-title{
    color: #fff;
    text-align: center;
    display: block;
}
ion-toolbar{
    --background: #453cc9;
}

ion-text{
    color: #847fc0;
    text-align: center;
    font-family: Quicksand-b;
    font-size: 13px;

}

ion-card-title{
    color: $bg-dark;
    text-align: center;
    font-family: Quicksand-b;
    font-size: 15px;
}

.btn-primario{
    font-family: Quicksand-b;
    --background: #453cc9;
    --background-activated: #453cc9;
    --border-radius: 100px;
    --border-width: 1px;
    text-transform: none;
    font-size: 15px;
    margin-top: 30px;
    display: flex;
    margin-right: auto;
    margin-left: auto;

}

ion-avatar{   
    margin: auto;
    margin-bottom: -10px;
}

ion-card{
    background-color:rgb(202, 202, 202);
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;

}

.margen{
    margin-bottom: 10px;
}