

<ion-content >

  

  

<div class="op-cont" [routerLink]="['/inicio']">
    <div id="animacionhome2" ><ion-img  class="op-img1" src= "https://cdn.discordapp.com/attachments/701836624824369152/892553120910041158/Order_ride-pana.png"> </ion-img>  </div> 
    <h2>Soy Pasajero</h2>
</div>


     
   <div class="op-cont" [routerLink]="['/inicio']">
    <div id="animacionhome"><ion-img class="op-img2" src= "https://cdn.discordapp.com/attachments/701836624824369152/892553115641995264/City_driver-pana.png"> </ion-img>  </div> 
    <h1>Soy Conductor</h1>
   </div>

  
</ion-content>
