<ion-header>
  <ion-toolbar>
    <ion-title>TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="map"></div>

  <ion-list>
    <ion-list-header>
      <ion-label>
        Selecciona tu sede
      </ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-select interface="popover">
        <ion-select-option value="1">Sede Alameda</ion-select-option>
        <ion-select-option value="2">Sede Antonio Varas</ion-select-option>
        <ion-select-option value="3">Sede Educación Continua</ion-select-option>
        <ion-select-option value="4">Sede Maipú</ion-select-option>
        <ion-select-option value="5">Sede Melipilla</ion-select-option>
        <ion-select-option value="6">Sede Padre Alonso de Ovalle</ion-select-option>
        <ion-select-option value="7">Sede Plaza Norte</ion-select-option>
        <ion-select-option value="8">Sede Plaza Oeste</ion-select-option>
        <ion-select-option value="9">Sede Plaza Vespucio</ion-select-option>
        <ion-select-option value="10">Sede Puente Alto</ion-select-option>
        <ion-select-option value="11">Sede San Bernardo</ion-select-option>
        <ion-select-option value="12">Sede San Carlos de Apoquindo</ion-select-option>
        <ion-select-option value="13">Sede San Joaquín</ion-select-option>

      </ion-select>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label position="stacked">¿Dónde vas?</ion-label>
    <ion-input></ion-input>
  </ion-item>

</ion-content>



