$bg-dark: #102754;
$bg-violet: #453cc9;
$bg-blue: #22aff1;
$bg-white: #fff;


ion-content {
    #map {
      width: 100%;
      height: 40%;
      opacity: 0;
      transition: opacity 150ms ease-in;
      display: block;
      &.show-map{
        opacity: 1;
      }
    }
  }
  @font-face {   
    font-family: 'Quicksand';
    src: url('../../assets/fonts/Quicksand-Medium.ttf');
  }
@font-face {   
    font-family: 'Quicksand-B';
    src: url('../../assets/fonts/Quicksand-Bold.ttf');
}

ion-title{
    color: #fff;
    justify-content: center;
}
ion-toolbar{
    --background:$bg-violet;
}

ion-input{
    border-bottom: 100px;
    text-align: center;
    font-family: Quicksand-B !important;
}

ion-select-option{
    text-align: center;
}

ion-item{
    --background: #fff;
    color: #453cc9;
    --ion-item-background: #fff;
}

ion-list-header{
    --background: #fff;
}
.item-native{
    --background: transparent;
}
.item-color{
    --background: transparent;
}
ion-label{
    color: $bg-violet;
    font-size: 10px;
    font-family: Quicksand-B !important;
    display: inline-block;
}
ion-content{
    --ion-background-color: #fff;
    font-family: Quicksand-B !important;
    --background: #fff;
    --border:none;
}

h1{
    color: $bg-violet;
    text-align: center;
    font-size: 38px;
    padding-top: 80px;
}

.op-form{
    padding-top: 25px;
}


.full-width-item {
    width: 90%;
    border-bottom: 2px solid $bg-violet;
    margin: 0 auto;
    padding: 0px;
}

.half-width-item {
    display: inline-block;
    width: 40%;
    border-bottom: 2px solid $bg-violet;
    margin: 0 5%;
}

.btn-primario{
    font-family: Quicksand-b;
    --background: #453cc9;
    --background-activated: #453cc9;
    --border-radius: 5px;
    text-transform: none;
    text-align: center;
    font-size: 15px;
}

.btn-cancelar{
    font-family: Quicksand-b;
    --background-activated: #fff;
    text-transform: none;
    text-align: center;
    color: $bg-violet;
    font-size: 15px;
}

